# Scaling - Normalization - PCA

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('pima-indians-diabetes.csv')

In [4]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
from sklearn.preprocessing import normalize, scale

In [6]:
x = df.drop('Outcome', axis=1)

In [7]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [8]:
yeni_x = scale(x)

In [9]:
pd.DataFrame(yeni_x)

,0,1,2,3,4,5,6,7
0,0.639947,0.848324,0.149641,0.907270,-0.692891,0.204013,0.468492,1.425995
1,-0.844885,-1.123396,-0.160546,0.530902,-0.692891,-0.684422,-0.365061,-0.190672
2,1.233880,1.943724,-0.263941,-1.288212,-0.692891,-1.103255,0.604397,-0.105584
3,-0.844885,-0.998208,-0.160546,0.154533,0.123302,-0.494043,-0.920763,-1.041549
4,-1.141852,0.504055,-1.504687,0.907270,0.765836,1.409746,5.484909,-0.020496
...,...,...,...,...,...,...,...,...
763,1.827813,-0.622642,0.356432,1.722735,0.870031,0.115169,-0.908682,2.532136
764,-0.547919,0.034598,0.046245,0.405445,-0.692891,0.610154,-0.398282,-0.531023
765,0.342981,0.003301,0.149641,0.154533,0.279594,-0.735190,-0.685193,-0.275760
766,-0.844885,0.159787,-0.470732,-1.288212,-0.692891,-0.240205,-0.371101,1.170732
767,-0.844885,-0.873019,0.046245,0.656358,-0.692891,-0.202129,-0.473785,-0.871374

In [10]:
normalizedata = normalize(x)

In [11]:
pd.DataFrame(normalizedata)

,0,1,2,3,4,5,6,7
0,0.033552,0.827625,0.402628,0.195722,0.000000,0.187893,0.003506,0.279603
1,0.008424,0.716040,0.555984,0.244296,0.000000,0.224079,0.002957,0.261144
2,0.040398,0.924097,0.323181,0.000000,0.000000,0.117658,0.003393,0.161591
3,0.006612,0.588467,0.436392,0.152076,0.621527,0.185797,0.001104,0.138852
4,0.000000,0.596386,0.174127,0.152361,0.731335,0.187622,0.009960,0.143655
...,...,...,...,...,...,...,...,...
763,0.042321,0.427443,0.321640,0.203141,0.761779,0.139236,0.000724,0.266623
764,0.013304,0.811526,0.465629,0.179600,0.000000,0.244788,0.002262,0.179600
765,0.026915,0.651352,0.387582,0.123811,0.602905,0.141037,0.001319,0.161492
766,0.006653,0.838285,0.399184,0.000000,0.000000,0.200257,0.002322,0.312694
767,0.007915,0.736052,0.554018,0.245351,0.000000,0.240602,0.002493,0.182034

# Boyut Kucultme PCA - Principle Component Analysis

In [13]:
from sklearn.decomposition import PCA

In [14]:
pca = PCA(2)

In [15]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [40]:
data2 = pca.fit_transform(x)

In [42]:
data2

array([[-75.71465491,  35.95078264],
       [-82.3582676 , -28.90821322],
       [-74.63064344,  67.90649647],
       ...,
       [ 32.11319827,  -3.3766648 ],
       [-80.21449431,  14.18601977],
       [-81.30814972, -21.62149606]])

In [44]:
pd.DataFrame(data2)

             0          1
0   -75.714655  35.950783
1   -82.358268 -28.908213
2   -74.630643  67.906496
3    11.077423 -34.898486
4    89.743788   2.746937
..         ...        ...
763  99.237881 -25.080927
764 -78.641239   7.688010
765  32.113198  -3.376665
766 -80.214494  14.186020
767 -81.308150 -21.621496

[768 rows x 2 columns]

In [46]:
pd.DataFrame(data2, columns = ['PCA1', 'PCA2'])

          PCA1       PCA2
0   -75.714655  35.950783
1   -82.358268 -28.908213
2   -74.630643  67.906496
3    11.077423 -34.898486
4    89.743788   2.746937
..         ...        ...
763  99.237881 -25.080927
764 -78.641239   7.688010
765  32.113198  -3.376665
766 -80.214494  14.186020
767 -81.308150 -21.621496

[768 rows x 2 columns]

In [48]:
pca.explained_variance_ratio_

array([0.88854663, 0.06159078])

In [50]:
sum(pca.explained_variance_ratio_)

0.9501374183215007